<div class="panel panel-default">
    <div class="panel-heading">Aufgaben</div>
    <div class="panel-body">
        <div class="form">
            <div class="input-group">
                <input id="taskInput" name="description" type="text" class="form-control">
    <span class="input-group-btn">
      <button name="addEvent" class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-plus"></span> Aufgabe hinzufügen
      </button>
    </span>
            </div>
        </div>
        <hr/>
        <ul id="tasks" class="list-group">
        </ul>
    </div>
</div>