<div id="calendar"></div>

<!-- Create Event Modal -->
<div class="modal fade" id="createEventModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Ereignis hinzufügen</h4>
            </div>
            <div class="modal-body">
                <form id="createEventForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Datum</label>
                        <div class="col-sm-10">
                            <p class="form-control-static selectedDate"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Titel</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title" placeholder="Titel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Text</label>
                        <div class="col-sm-10">
                            <textarea name="text" rows="5" type="text" class="form-control"></textarea>
                        </div>
                    </div>
                    <input name="date" type="hidden"/>
                    <input name="method" type="hidden" value="cal_save"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button form="createEventForm" type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Event Modal -->
<div class="modal fade" id="editEventModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Ereignis ansehen/bearbeiten</h4>
            </div>
            <div class="modal-body">
                <form id="editEventForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Datum</label>
                        <div class="col-sm-10">
                            <p class="form-control-static selectedDate"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Titel</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title" placeholder="Titel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Text</label>
                        <div class="col-sm-10">
                            <textarea name="text" rows="5" type="text" class="form-control"></textarea>
                        </div>
                    </div>
                    <input name="id" type="hidden"/>
                    <input name="date" type="hidden"/>
                    <input name="method" type="hidden" value="cal_update"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button form="editEventForm" type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>