<div class="notizen">
    <div class="form">
        <div class="input-group">
            <input id="noteInput" name="description" type="text" class="form-control">
        <span class="input-group-btn">
          <button name="addNote" class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-plus"></span> Notiz hinzufügen
          </button>
        </span>
        </div>
    </div>
    <hr/>
    <div class="row sortable">
        <div class="col-md-4" id="column-1">

        </div>
        <div class="col-md-4 element" id="column-2">

        </div>
        <div class="col-md-4 element" id="column-3">

        </div>
    </div>
</div>


<div class="modal fade" id="editNotizModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">Notiz bearbeiten</h4>
            </div>
            <div class="modal-body">
                <form id="editNotizForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="heading" placeholder="Name der Notiz">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" name="text"
                                      placeholder="Details der Notiz"></textarea>
                        </div>
                    </div>
                    <input name="id" type="hidden"/>
                    <input name="method" type="hidden" value="notes_update"/>
                </form>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-left">
                    <button type="button" class="btn btn-danger" type="button" name="delete">Delete</button>
                </div>
                <div class="modal-footer-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button form="editNotizForm" type="submit" class="btn btn-primary" name="save">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>