<div class="ueberblick">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Zuletzt hinzugefügte Kontakte</div>
                <div class="panel-body">
                    <div>
                        <ul id="overview_contacts"></ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Zuletzt hinzugefügte Ereignisse</div>
                <div class="panel-body">
                    <div>
                        <ul id="overview_events"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Zuletzt hinzugefügte Aufgaben</div>
                <div class="panel-body">
                    <div>
                        <ul id="overview_tasks"></ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Zuletzt hinzugefügte Notizen</div>
                <div class="panel-body">
                    <div>
                        <ul id="overview_notes"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
