@import "node_modules/fullcalendar/dist/fullcalendar";

.fc-time{
  display : none;
}

.modal-footer-left {
  float: left;
}

.modal-footer-right {
  float: right;
}
#contactTable tbody tr {
  cursor: pointer;
}

